streamlit
langchain>=0.2.0
langchain-community>=0.2.0
langchain-core>=0.2.0
langchain-groq
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
pypdf
sentence-transformers
pysqlite3-binary