streamlit
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-google-genai>=1.0.3
langchain-chroma
chromadb
fastembed
pypdf
docx2txt
yfinance
googlesearch-python
pysqlite3-binary